@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');

body {
   padding: 0;
   margin: 0;
   background: #395577;
   color: #EEEEEE;
   text-align: center;
   font-family: "Lato", sans-serif;
}
 
@media screen and (max-width: 700px) {
   body {
      padding: 170px 0 0 0;
      width: 100%
   }
}

/* リンク */
a {
   color: #bfd5ff;
   text-decoration:none;
}

a:hover {
   color: #003699;
}

.menu-item,
.menu-open-button {
   background: #EEEEEE;
   /* border-radius: 100%; */
   width: 80px;
   height: 80px;
   margin-left: -40px;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 80px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
   display: none;
}

.lines {
   width: 25px;
   height: 3px;
   background: #596778;
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -12.5px;
   margin-top: -1.5px;
   -webkit-transition: -webkit-transform 200ms;
   transition: -webkit-transform 200ms;
   transition: transform 200ms;
   transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
}

.line-2 {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}

.line-3 {
   -webkit-transform: translate3d(0, 8px, 0);
   transform: translate3d(0, 8px, 0);
}


/* 押したらバツになる */
.menu-open:checked + .menu-open-button .line-1 {
   -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
   transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
   -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
   transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
   -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
   transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
   margin: auto;
   position: absolute;
   top: 100px;
   bottom: 0;
   left: 0;
   right: 0;
   width: 80px;
   height: 80px;
   text-align: center;
   box-sizing: border-box;
   font-size: 26px;
}


/* .menu-item {
   transition: all 0.1s ease 0s;
} */

.menu-item:hover {
   background: #EEEEEE;
   color: #3290B1;
}

.menu-item:nth-child(3) {
   -webkit-transition-duration: 380ms;
   transition-duration: 380ms;
}

.menu-item:nth-child(4) {
   -webkit-transition-duration: 380ms;
   transition-duration: 380ms;
}

.menu-item:nth-child(5) {
   -webkit-transition-duration: 380ms;
   transition-duration: 380ms;
}

.menu-open-button {
   z-index: 2;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
   -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
   transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
   -webkit-transition-timing-function: linear;
   transition-timing-function: linear;
   -webkit-transition-duration: 200ms;
   transition-duration: 200ms;
   -webkit-transform: scale(0.8, 0.8) translate3d(0, 250px, 0);
   transform: scale(0.8, 0.8) translate3d(0, 250px, 0);
}

.menu-open:checked ~ .menu-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: scale(3, 3) translate3d(-90px, 0, 0);
   transform: scale(3, 3) translate3d(-90px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: scale(3, 3) translate3d(0px, 0, 0);
   transform: scale(3, 3) translate3d(0px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: scale(3, 3) translate3d(90px, 0, 0);
   transform: scale(3, 3) translate3d(90px, 0, 0);
}


.hidari {
   background-color: #509cff;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.hidari:hover {
   color: #509cff;
   text-shadow: none;
}

.naka {
   background-color: #50ffcb;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.naka:hover {
   color: #50ffcb;
   text-shadow: none;
}

.migi {
   background-color: #d9ff50;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.migi:hover {
   color: #d9ff50;
   text-shadow: none;
}

.credit {
   margin: 24px 20px 120px 0;
   text-align: right;
   color: #EEEEEE;
}

.credit a {
   padding: 8px 0;
   color: #C49CDE;
   text-decoration: none;
   transition: all 0.3s ease 0s;
}

.credit a:hover {
   text-decoration: underline;
}

.menu p {
   color: #FFFFFF;
   font-size: 16px;
   position: absolute;
   top: 80%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   margin:0;
   padding:0;
   font-family: 'Courier', monospace;
}

Resources

/* リンク */
/* a {
   color: #999966;
}

a:hover {
   color: #996600;
} */

/* パンくずリスト */
.topicPath {
   font-size: 12px;
}

/* ページの先頭へ戻る */
.pagetop {
   font-size: 12px;
   text-align: right;
   margin-top: 30px;
}

.pagetop a {
   background-image: url("../images/ico_pagetop.png");
   background-repeat: no-repeat;
   background-position: 0 50%;
   padding-left: 10px;
}

/* ページ */
#page {
   width: 1200px;
   margin: 0 auto;
}

#pageHead #siteTitle {
   font-size: 50px;
   font-family: 'Courier New', Courier, monospace;
}

#mainh {
   font-size: 50px;
   text-align: left;
   font-family: 'Courier New', Courier, monospace;
   /* position: -webkit-sticky;
   position: sticky;
   top: 0; */
}

#pageBody {
   text-align: left;
}

#pageBody #mainp {
   font-size: 20px;
}

#pageBodyMain {
   width: 940px;
   float: right;
}

#pageBodySub {
   width: 220px;
   float: left;
}

#pageBodySub a {
   text-align: center;
   color: #FFFFFF
}

#pageBodySub a:hover {
   color: #003699
}

/* #pageBodySub .globalNavi {
   border: solid #CCCCCC;
   border-width: 1px 0;
}

#pageBodySub .grobalNavi ul {
   margin: 0;
   padding: 0;
}

#pageBodySub .globalNavi ul li {
   list-style: none;
} */

.navi {
   position: relative;
   padding:0.25em 1em;
   margin-top: 20px;
}
.navi:before,.navi:after{ 
   content:'';
   width: 20px;
   height: 30px;
   position: absolute;
   display: inline-block;
}
.navi:before{
   border-left: solid 1px #CCCCCC;
   border-top: solid 1px #CCCCCC;
   top:0;
   left: 0;
}
.navi:after{
   border-right: solid 1px #CCCCCC;
   border-bottom: solid 1px #CCCCCC;
   bottom:0;
   right: 0;
}
.navi p {
   margin: 0; 
   padding: 10px;
}

#pageBodyMain #education {
   font-size: 24px;
}

#pageBody #home {
   font-size: 50px;
   line-height: 10;
   text-align: center;
   font-family: 'Courier New', Courier, monospace;
}
